In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
analysis_data = '../data/clean/analysis_data.csv'

In [8]:
analysis_df1 = pd.read_csv(analysis_data)

In [10]:
analysis_df1

,index,client_id,visitor_id,visit_id,process_step,date_time,Variation,visit_final_step,step_duration,step_proceeds,step_error
0,374121,169,201385055_71273495308,749567106_99161211863_557568,start,2017-04-12 20:19:36,NaN,False,9.0,True,False
1,374120,169,201385055_71273495308,749567106_99161211863_557568,step_1,2017-04-12 20:19:45,NaN,False,46.0,True,False
2,374119,169,201385055_71273495308,749567106_99161211863_557568,step_2,2017-04-12 20:20:31,NaN,False,94.0,True,False
3,374118,169,201385055_71273495308,749567106_99161211863_557568,step_3,2017-04-12 20:22:05,NaN,False,64.0,True,False
4,374117,169,201385055_71273495308,749567106_99161211863_557568,confirm,2017-04-12 20:23:09,NaN,True,NaN,False,False
...,...,...,...,...,...,...,...,...,...,...,...
385774,359300,9999839,948322592_28990736246,715530422_68620416793_515645,start,2017-03-29 12:11:32,NaN,False,3.0,True,False
385775,359299,9999839,948322592_28990736246,715530422_68620416793_515645,step_1,2017-03-29 12:11:35,NaN,False,15.0,True,False
385776,359298,9999839,948322592_28990736246,715530422_68620416793_515645,step_2,2017-03-29 12:11:50,NaN,False,38.0,True,False
385777,359297,9999839,948322592_28990736246,715530422_68620416793_515645,step_3,2017-03-29 12:12:28,NaN,False,35.0,True,False
385778,359296,9999839,948322592_28990736246,715530422_68620416793_515645,confirm,2017-03-29 12:13:03,NaN,True,NaN,False,False

In [ ]:
#What the mean duration for each successful step - Control vs Test

analysis_df1.groupby('process_step')[