In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [18]:
client_data = "../data/raw/df_final_demo.csv"
experiment_data = "../data/raw/df_final_experiment_clients.csv"
web_data1 = "../data/raw/df_final_web_data_pt_1.csv"
web_data2 = "../data/raw/df_final_web_data_pt_2.csv"

In [20]:
client_df = pd.read_csv(client_data)
experiment_df = pd.read_csv(experiment_data)
web1_df = pd.read_csv(web_data1)
web2_df = pd.read_csv(web_data2)

In [10]:
client_df.head()

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0
1,2304905,7.0,94.0,58.0,U,2.0,110860.30,6.0,9.0
2,1439522,5.0,64.0,32.0,U,2.0,52467.79,6.0,9.0
3,1562045,16.0,198.0,49.0,M,2.0,67454.65,3.0,6.0
4,5126305,12.0,145.0,33.0,F,2.0,103671.75,0.0,3.0

In [14]:
client_df.shape

(70609, 9)

In [22]:
web1_df.head()

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,17/04/2017 15:27
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,17/04/2017 15:26
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,17/04/2017 15:19
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,17/04/2017 15:19
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,17/04/2017 15:18

In [24]:
web2_df.head()

,client_id,visitor_id,visit_id,process_step,date_time
0,763412,601952081_10457207388,397475557_40440946728_419634,confirm,06/06/2017 08:56
1,6019349,442094451_91531546617,154620534_35331068705_522317,confirm,01/06/2017 11:59
2,6019349,442094451_91531546617,154620534_35331068705_522317,step_3,01/06/2017 11:58
3,6019349,442094451_91531546617,154620534_35331068705_522317,step_2,01/06/2017 11:58
4,6019349,442094451_91531546617,154620534_35331068705_522317,step_1,01/06/2017 11:57

In [26]:
web_df = pd.concat([web1_df, web2_df], axis=0, ignore_index=True)

In [30]:
web_df.shape

(755405, 5)

In [32]:
display(web1_df.shape)
display(web2_df.shape)

(343141, 5)

(412264, 5)

In [44]:
merged_client_df = pd.merge(client_df, experiment_df, on='client_id', how='outer')

In [48]:
experiment_df.head()

   client_id Variation
0    9988021      Test
1    8320017      Test
2    4033851   Control
3    1982004      Test
4    9294070   Control

In [50]:
merged_client_df['Variation'].value_counts()

Variation
Test       26968
Control    23532
Name: count, dtype: int64

In [60]:
merged_client_df.head(20)

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,Variation
0,169,21.0,262.0,47.5,M,2.0,501570.72,4.0,4.0,NaN
1,555,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,Test
2,647,12.0,151.0,57.5,M,2.0,30525.80,0.0,4.0,Test
3,722,11.0,143.0,59.5,F,2.0,22466.17,1.0,1.0,NaN
4,934,9.0,109.0,51.0,F,2.0,32522.88,0.0,3.0,Test
5,1028,12.0,145.0,36.0,M,3.0,103520.22,1.0,4.0,Control
6,1104,5.0,66.0,48.0,U,3.0,154643.94,6.0,9.0,Control
7,1186,8.0,99.0,22.0,U,2.0,31662.52,0.0,3.0,Control
8,1195,21.0,262.0,54.5,M,2.0,28457.96,2.0,5.0,Control
9,1197,7.0,85.0,28.5,U,5.0,177062.14,5.0,8.0,Control
10,1336,48.0,576.0,42.0,M,4.0,130537.18,6.0,9.0,Test
11,1346,14.0,177.0,46.0,F,2.0,822512.91,3.0,6.0,Test
12,1368,5.0,60.0,45.0,F,3.0,61956.25,6.0,9.0,Control
13,1516,12.0,150.0,58.5,F,2.0,25408.39,5.0,8.0,Test
14,1543,11.0,139.0,51.5,M,4.0,569096.60,3.0,3.0,NaN
15,1643,19.0,229.0,55.0,M,2.0,81731.39,0.0,3.0,Test
16,1677,23.0,280.0,43.0,M,2.0,152953.71,7.0,7.0,NaN
17,1702,21.0,260.0,62.5,U,3.0,1769255.99,5.0,8.0,Test
18,1755,9.0,110.0,46.5,M,2.0,179775.22,0.0,3.0,Test
19,1836,13.0,157.0,51.5,M,2.0,826232.62,4.0,7.0,Test

In [56]:
merged_client_df[merged_client_df['Variation'].isnull()].shape

(20109, 10)

In [58]:
merged_client_df.shape

(70609, 10)

In [66]:
merged_client_df[merged_client_df['gendr'].isnull()].head(20)

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,Variation
2486,355337,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Control
7251,1037867,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Test
8525,1227228,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Test
11296,1618749,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15523,2222915,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Test
34329,4876926,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Test
36220,5144725,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Test
37164,5277910,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Test
42470,6021001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52406,7402828,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Control
53880,7616759,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Control
57977,8191345,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Control
59510,8412164,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Test
60898,8611797,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Control

In [68]:
merged_client_df.isnull().sum()

client_id               0
clnt_tenure_yr         14
clnt_tenure_mnth       14
clnt_age               15
gendr                  14
num_accts              14
bal                    14
calls_6_mnth           14
logons_6_mnth          14
Variation           20109
dtype: int64

In [74]:
merged_client_df[merged_client_df.isnull().sum(axis=1) > 5]

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,Variation
2486,355337,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Control
7251,1037867,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Test
8525,1227228,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Test
11296,1618749,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15523,2222915,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Test
34329,4876926,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Test
36220,5144725,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Test
37164,5277910,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Test
42470,6021001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52406,7402828,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Control
53880,7616759,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Control
57977,8191345,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Control
59510,8412164,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Test
60898,8611797,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Control

In [82]:
client_df_cleaned = merged_client_df[merged_client_df.isnull().sum(axis=1) <= 5]

In [84]:
client_df_cleaned.isnull().sum()

client_id               0
clnt_tenure_yr          0
clnt_tenure_mnth        0
clnt_age                1
gendr                   0
num_accts               0
bal                     0
calls_6_mnth            0
logons_6_mnth           0
Variation           20107
dtype: int64