In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
client_data = "../data/raw/df_final_demo.csv"
experiment_data = "../data/raw/df_final_experiment_clients.csv"
web_data1 = "../data/raw/df_final_web_data_pt_1.csv"
web_data2 = "../data/raw/df_final_web_data_pt_2.csv"

In [3]:
client_df = pd.read_csv(client_data)
experiment_df = pd.read_csv(experiment_data)
web1_df = pd.read_csv(web_data1)
web2_df = pd.read_csv(web_data2)

In [4]:
def merge_and_clean_client_df(client_df = client_df, experiment_df = experiment_df):
    merged_client_df = pd.merge(client_df, experiment_df, on='client_id', how='outer')
    client_df_cleaned = merged_client_df[merged_client_df.isnull().sum(axis=1) <= 5]
    client_df_cleaned['balance_quartile'] = pd.qcut(client_df_cleaned['bal'], q=4, labels=['Q1', 'Q2', 'Q3', 'Q4'])
    return client_df_cleaned

In [5]:
client_df_cleaned = merge_and_clean_client_df()

C:\Users\olgeo\AppData\Local\Temp\ipykernel_3928\15114656.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  client_df_cleaned['balance_quartile'] = pd.qcut(client_df_cleaned['bal'], q=4, labels=['Q1', 'Q2', 'Q3', 'Q4'])

In [6]:
client_df_cleaned.to_csv('../data/clean/clean_client_data.csv', index=False)

In [7]:
client_df_cleaned[client_df_cleaned['balance_quartile']=='Q4'].describe().round(1)

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,num_accts,bal,calls_6_mnth,logons_6_mnth
count,17649.0,17649.0,17649.0,17649.0,17649.0,17649.0,17649.0,17649.0
mean,4954611.4,14.9,184.7,54.6,2.5,419689.2,4.2,6.4
std,2870445.7,7.7,92.7,13.2,0.7,511980.7,2.1,2.2
min,169.0,2.0,33.0,16.0,2.0,137547.3,0.0,1.0
25%,2471025.0,8.0,105.0,45.5,2.0,182199.1,2.0,5.0
50%,4966245.0,14.0,177.0,56.0,2.0,264313.4,5.0,7.0
75%,7392799.0,21.0,253.0,64.0,3.0,451959.9,6.0,9.0
max,9999832.0,62.0,749.0,94.0,8.0,16320040.2,7.0,9.0

In [8]:
client_df_cleaned[client_df_cleaned['balance_quartile']=='Q1'].describe().round(1)

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,num_accts,bal,calls_6_mnth,logons_6_mnth
count,17649.0,17649.0,17649.0,17649.0,17649.0,17649.0,17649.0,17649.0
mean,5045710.8,10.2,129.3,40.7,2.1,28418.6,2.7,4.6
std,2875145.5,6.0,71.9,15.4,0.3,5737.4,2.2,2.3
min,555.0,2.0,33.0,13.5,1.0,13789.4,0.0,1.0
25%,2577696.0,5.0,71.0,27.5,2.0,25013.7,1.0,3.0
50%,5084266.0,8.0,106.0,38.5,2.0,29169.4,2.0,4.0
75%,7528251.0,14.0,174.0,53.0,2.0,32951.7,4.0,6.0
max,9999626.0,52.0,631.0,96.0,5.0,37346.4,7.0,9.0

In [9]:
def merge_and_clean_web_df(web1_df = web1_df, web2_df = web2_df, experiment_df = experiment_df):
    web_df = pd.concat([web1_df, web2_df], axis=0, ignore_index=True)
    web_exp_df = pd.merge(web_df, experiment_df, on='client_id', how='right')
    web_exp_df['date_time'] = pd.to_datetime(web_exp_df['date_time'], format='%d/%m/%y %H:%M:%S')
    web_exp_df = web_exp_df.sort_values(by=['client_id', 'visit_id', 'date_time'])
    web_exp_df = web_exp_df.dropna(subset=['Variation'])
    return (web_exp_df)

In [10]:
web_exp_df = merge_and_clean_web_df()

In [11]:
def remove_duplicates(df):
    new_df = df.copy()
    
    non_start_df = new_df[new_df['process_step'] != 'start']
    filt_start = new_df[new_df['process_step'] == 'start'].drop_duplicates(subset=['visit_id'], keep='last')

    new_df = pd.concat([non_start_df, filt_start])
    new_df = new_df.sort_values(by=['client_id', 'visit_id', 'date_time'])
    
    non_confirm_df = new_df[new_df['process_step'] != 'confirm']
    filt_confirm = new_df[new_df['process_step'] == 'confirm'].drop_duplicates(subset=['visit_id'], keep='last')

    new_df = pd.concat([non_confirm_df, filt_confirm])
    new_df = new_df.sort_values(by=['client_id', 'visit_id', 'date_time'])
    return(new_df)

In [12]:

def step_checks(df):
    new_df = df.copy()
    new_df
    new_df = new_df.sort_values(by=['client_id', 'visit_id', 'date_time'])

    #Adds a column to say if that step is the final step of the visit
    new_df['visit_final_step'] = new_df['visit_id'] != new_df['visit_id'].shift(-1)

    #Adds a column for the duration (in seconds) of each step
    new_df['step_duration'] = (new_df['date_time'].shift(-1) - new_df['date_time']).dt.total_seconds()
    new_df.loc[new_df['visit_final_step'] == True, 'step_duration'] = np.nan

    step_order = ['start', 'step_1', 'step_2', 'step_3', 'confirm']
    next_step = {'start': 'step_1', 'step_1': 'step_2', 'step_2': 'step_3', 'step_3': 'confirm'}

    #Adds "next_process_step" column with the step from the following row
    new_df['next_process_step'] = new_df['process_step'].shift(-1)
    
    #Adds "step_proceeds" column which checks if the next step is the same visit and moved forward a step
    new_df['step_proceeds'] = new_df.apply(
        lambda row: row['next_process_step'] == next_step.get(row['process_step'], None),
        axis=1
    )
    new_df.loc[new_df['visit_final_step'] == True, 'step_proceeds'] = False

    #Adds "step_error" column which checks if the next step is the same visit and moved back a step
    new_df['step_error'] = new_df.apply(
        lambda row: row['process_step'] == next_step.get(row['next_process_step'], None),
        axis=1
    )
    new_df.loc[new_df['visit_final_step'] == True, 'step_error'] = False

    #Removes "next_process_step" column with the step from the following row
    new_df.drop(columns='next_process_step', inplace=True)
    new_df.reset_index(inplace=True)
    new_df.drop(columns='index', inplace=True)
    return (new_df)

In [13]:
clean_df = remove_duplicates(web_exp_df)
analysis_df = step_checks(clean_df)

In [14]:
analysis_df.groupby(['Variation','process_step'])[['step_error', 'step_proceeds', 'visit_final_step','step_duration']].mean()

                        step_error  step_proceeds  visit_final_step  \
Variation process_step
Control   confirm         0.000063       0.000000          0.963998
          start           0.000000       0.683218          0.312277
          step_1          0.069705       0.752697          0.117972
          step_2          0.055088       0.821718          0.056440
          step_3          0.103970       0.666243          0.097214
Test      confirm         0.000138       0.000000          0.987639
          start           0.000000       0.706529          0.285555
          step_1          0.129101       0.709709          0.080943
          step_2          0.106102       0.780890          0.042822
          step_3          0.088592       0.704681          0.072218

                        step_duration
Variation process_step
Control   confirm          221.454861
          start             39.414676
          step_1            55.387458
          step_2            94.312098
          step_3           146.744545
Test      confirm          192.455224
          start             32.375201
          step_1            72.090036
          step_2            91.990796
          step_3           165.050533

In [15]:
#analysis_df.to_csv('../data/clean/analysis_data.csv', index=False)

In [16]:
def remove_outlier_visits(df):

    def duration_outliers(group):
        Q1 = group['step_duration'].quantile(0.25)
        Q3 = group['step_duration'].quantile(0.75)
        IQR = Q3 - Q1
        lower_bound = Q1 - 1.5 * IQR
        upper_bound = Q3 + 1.5 * IQR
        
        # Filter rows where step_duration is an outlier
        outliers = group[(group['step_duration'] < lower_bound) | (group['step_duration'] > upper_bound)]
        return outliers

    outliers_df = df.groupby(['Variation', 'process_step'], group_keys=False).apply(duration_outliers)

    outlier_visits = list(outliers_df['visit_id'].unique())

    filt_df = df[~df['visit_id'].isin(outlier_visits)]
    
    return filt_df

In [18]:
no_outlier_df = remove_outlier_visits(analysis_df)

C:\Users\olgeo\AppData\Local\Temp\ipykernel_3928\3027866023.py:14: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  outliers_df = df.groupby(['Variation', 'process_step'], group_keys=False).apply(duration_outliers)

In [20]:
no_outlier_df.to_csv('../data/clean/removed_outliers_data.csv', index=False)