In [33]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [43]:
client_data = "../data/clean/clean_client_data.csv"
analysis_data = "../data/clean/analysis_data.csv"

In [45]:
client_df = pd.read_csv(client_data)
analysis_df = pd.read_csv(analysis_data)

In [46]:
analysis_df.head()

,client_id,visitor_id,visit_id,process_step,date_time,Variation,visit_final_step,step_duration,step_proceeds,step_error
0,169,201385055_71273495308,749567106_99161211863_557568,start,2017-04-12 20:19:36,NaN,False,9.0,True,False
1,169,201385055_71273495308,749567106_99161211863_557568,step_1,2017-04-12 20:19:45,NaN,False,46.0,True,False
2,169,201385055_71273495308,749567106_99161211863_557568,step_2,2017-04-12 20:20:31,NaN,False,94.0,True,False
3,169,201385055_71273495308,749567106_99161211863_557568,step_3,2017-04-12 20:22:05,NaN,False,64.0,True,False
4,169,201385055_71273495308,749567106_99161211863_557568,confirm,2017-04-12 20:23:09,NaN,True,NaN,False,False

In [38]:
analysis_df.pivot_table(index='process_step',
                        columns='Variation',
                        values=['visit_final_step','step_proceeds','step_error','step_duration'],
                        aggfunc='mean').round(2)

             step_duration         step_error       step_proceeds        \
Variation          Control    Test    Control  Test       Control  Test
process_step
confirm             221.95  192.46       0.00  0.00          0.00  0.00
start                39.46   32.40       0.00  0.00          0.68  0.71
step_1               55.39   72.09       0.07  0.13          0.75  0.71
step_2               94.31   91.99       0.06  0.11          0.82  0.78
step_3              146.89  165.14       0.10  0.09          0.66  0.70

             visit_final_step
Variation             Control  Test
process_step
confirm                  0.96  0.99
start                    0.31  0.29
step_1                   0.12  0.08
step_2                   0.06  0.04
step_3                   0.10  0.07

In [29]:
analysis_df[analysis_df['step_proceeds']==True].pivot_table(index='process_step',
                                                            columns='Variation',
                                                            values=['step_duration'],
                                                            aggfunc='mean').round(2)

             step_duration
Variation          Control    Test
process_step
start                38.02   31.71
step_1               33.82   37.14
step_2               87.01   86.51
step_3              135.80  143.13

In [31]:
analysis_df[analysis_df['step_proceeds']==True].head()

,index,client_id,visitor_id,visit_id,process_step,date_time,Variation,visit_final_step,step_duration,step_proceeds,step_error
0,374121,169,201385055_71273495308,749567106_99161211863_557568,start,2017-04-12 20:19:36,NaN,False,9.0,True,False
1,374120,169,201385055_71273495308,749567106_99161211863_557568,step_1,2017-04-12 20:19:45,NaN,False,46.0,True,False
2,374119,169,201385055_71273495308,749567106_99161211863_557568,step_2,2017-04-12 20:20:31,NaN,False,94.0,True,False
3,374118,169,201385055_71273495308,749567106_99161211863_557568,step_3,2017-04-12 20:22:05,NaN,False,64.0,True,False
5,94261,555,402506806_56087378777,637149525_38041617439_716659,start,2017-04-15 12:57:56,Test,False,7.0,True,False